<nav id='nav' class='test'>



<ul class='navul'>
    <a class="homelink"href=#header><li><i class="fas fa-home"></i>home </li></a>
    <a class='aboutmelink'href=#aboutme><li><i class="fas fa-user"></i>aboutme</li></a>
    <a class='projectslink'href=#projects><li><i class="fas fa-pen"></i>projects</li></a>
    <a class='contactlink'href=#contact><li><i class="fas fa-envelope"></i>contact</li></a>
    <a class='footerlink' href=#footer><li><i class="fab fa-accessible-icon"></i>footer</li></a>
    
</ul>









 
</nav>



   <!-- <div class="burger3 menu">
        <div class="icon"></div>
      </div>
    -->
      

     <!-- <ul class="links">
          <a href=#header><li>header</li></a>
          <a href=#aboutme><li>aboutme</li></a>
          <a href=#projects><li>projects</li></a>
          <a href=#footer><li>footer</li></a>
          <a href=#header><li>nog1</li></a>
      </ul> -->