<div id='contactleft'>
    <div class=container>
    <h2 class="headercontact">Stuur mij een bericht</h2>
    
    <div class=tekst>
        <div class="animatewrapper">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sit consectetur error possimus suscipit, saepe
        nam perspiciatis, dolore reprehenderit aliquid explicabo? Quibusdam officiis quisquam blanditiis animi dolores
        soluta! Nesciunt, quod.</p>
        </div>
    <div class="animatewrapper">   
    <ul>
        <a href="jeff.html"><li><i class="fas fa-phone"></i> 06 40329869</li></a>
        <a href="jeff.html"><li><i class="fas fa-envelope"></i> Tomdejong2000@gmail.com</li></a>
        <a href="jeff.html"><li><i class="fab fa-linkedin-in"></i> Linkedin</li></a>
     </ul> 
     </div>
    </div>

    </div>
</div>