<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atomica | Component driven front-end scaffold</title>
    <meta name="author" content="Jefferson van der Heijden">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../gfx/favicon.ico" />

    <!-- build:css /site/atomica/prod/build/@@site_assets['main.css']@@ -->
        <link rel="stylesheet" type="text/css" href="/site/atomica/prod/build/main.css">
    <!-- endbuild -->

    <!-- build:js /site/atomica/prod/build/@@site_assets['main.js']@@ -->
        <script src="/site/atomica/prod/build/main.js"></script>
    <!-- endbuild -->

    <script src="/site/atomica/prod/build/main-es6.js"></script>

</head>


<body>

	<nav id="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Atomica
            </div>
        </div>
    </div>
</nav>


	

	<section id="main-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					v1.0
				</div>
			</div>
		</div>
	</section>



</body>
</html>
