<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>portfolio</title>
    <meta name="author" content="Tom de Jong">

    

    <!-- Favicon -->
    <link rel="shortcut icon" href="../gfx/favicon.ico" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet"> 

    

    <link rel="stylesheet" type="text/css" href="../../../../../../node_modules/multiscroll.js/jquery.multiscroll.css" />
    <!-- build:css /site/atomica/prod/build/@@site_assets['main.css']@@ -->
    <link rel="stylesheet" type="text/css" href="/portfolio/site/atomica/prod/build/main.css">
    <!-- endbuild -->

    <!-- build:js /site/atomica/prod/build/@@site_assets['main.js']@@ -->
    <script src="/portfolio/site/atomica/prod/build/main.js"></script>
    <!-- endbuild -->

    <script src="/portfolio/site/atomica/prod/build/main-es6.js"></script>

   

    



</head>

<class id=jeff>


<section>
        <img src="../gfx/jeff.png" style="width: 1600px;height: 1000px;">
    <div class="balk1"></div>
    <div class="balk2"></div>
    <div class="balk3"></div>
  </section>

</class>