<div id="contactright">
    <div class="container">

      <div class="animatewrapper2">
        <form action="jeff.html">
      
          
          <input type="text" id="name" name="name" placeholder="Je naam...">
      
          
          <input type="email" id="email" name="email" placeholder="Je email">
      
          
          <textarea id="message" name="message" placeholder="Wat wilde je tegen me zeggen?"></textarea>
      
          <input class='submitknop' type="submit" value="Verstuur">
      
        </form>
      </div> 
      </div>
</div>