@keyframes wobble-hor-bottom2 {
    0%,
    100% {
      
              transform: translateX(0%);
      
              transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-6px) rotate(-1.2deg);
              
    }
    30% {
        transform: translateX(11px) rotate(5deg);
              
  
    }
    75% {
      
        transform: translateX(-3px) rotate(-3deg);
    }
  }



  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }


  @keyframes jello-vertical {
    0% {
      
              transform: scale3d(1, 1, 1);
    }
    30% {
      
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
     
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
     
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      
              transform: scale3d(1, 1, 1);
    }
  }
  